{% extends 'base.html' %}

{% block title %}
User Notes
{% endblock %}

{% block content %}
<h1>{{user.first_name}} {{user.last_name}}</h1>

<h3>email: {{user.email}}</h3>

<h1>Notes</h1>

<form action="/logout" method="POST">
  {{ form.hidden_tag() }}
<!-- Going to add for loop to add in notes-->
<ul>
  {% for note in user.notes %}
  <li>
    <button formaction="/notes/{{note.id}}/update" formmethod="GET">Update Note</button>
    <button formaction="/notes/{{note.id}}/delete" formmethod="POST">Delete Note</button>
    {{ note.title}}
  </li>
  {% endfor %}
</ul>
  <button formaction="/users/{{user.username}}/notes/add" formmethod="POST">
    Add Note
  </button>
  <button formaction="/users/{{user.username}}/delete" formmethod="POST">
    Delete User
  </button>
  <button>Log out</button>
</form>

{% endblock %}